/*----------------rester start----------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Quicksand:wght@300;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Noto Sans TC", sans-serif;
  color: rgb(61, 17, 1);
  font-size: 16px;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  text-decoration: none;
  color: #8D8D8D;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

/*----------------rester end----------------*/
* {
  outline: 1px solid blue;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

/*----header start----*/
.header {
  width: 80%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 auto;
}
.header a {
  display: block;
  padding: 14px 0;
}
@media (max-width: 1024px) {
  .header {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .header {
    width: 100%;
    position: fixed;
    z-index: 100;
    background: white;
    padding: 10px;
    border-bottom: 1px solid gray;
    top: 0;
  }
}

/*----header End----*/
/*---- header humbger-menu Start----*/
.menu-check {
  display: none;
}

.ham-check {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 1px solid gray;
}
.ham-check span {
  width: 25px;
  height: 3px;
  background: gray;
  border-radius: 15px;
  position: absolute;
  transition: 0.25s ease-in-out;
  transform-origin: left center;
  top: 5%;
  left: 5%;
}
.ham-check span:nth-child(1) {
  top: 20%;
}
.ham-check span:nth-child(2) {
  top: 48%;
}
.ham-check span:nth-child(3) {
  top: 75%;
}

/*---- header humbger-menu End----*/
/*---- header-menu Satrt ----*/
.menu {
  width: 40%;
  display: flex;
}
.menu a {
  display: block;
  padding: 5px;
}
.menu li {
  width: 40%;
  text-align: center;
}
.menu a:hover {
  color: rgb(207, 205, 205);
}
@media (max-width: 1024px) {
  .menu {
    width: 60%;
  }
}
@media (max-width: 768px) {
  .menu {
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    margin-top: 1px;
    position: absolute;
    z-index: 100;
    top: 56px;
    background: rgba(255, 255, 255, 0);
    flex-direction: column;
    transition: max-height 1s;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .menu i {
    display: none;
  }
  .menu li {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid white;
    background: rgba(112, 112, 112, 0.862745098);
  }
  .menu a {
    color: white;
  }
  .menu .cart-shopping-moblie-li {
    display: none;
  }
}
@media (max-width: 480px) {
  .menu .cart-shopping-moblie-li {
    display: none;
  }
}

.header-cart-moblie {
  display: none;
}
@media (max-width: 768px) {
  .header-cart-moblie {
    display: block;
    position: absolute;
    left: 89%;
    top: 8px;
  }
}
@media (max-width: 480px) {
  .header-cart-moblie {
    left: 80%;
  }
}

.moblie-cart-icon {
  position: relative;
}
.moblie-cart-icon i {
  font-size: 20px;
  color: gray;
}
.moblie-cart-icon h2 {
  position: absolute;
  background: #916000;
  font-size: 8px;
  width: 15px;
  height: 15px;
  top: 10px;
  right: -5px;
  border-radius: 100%;
  text-align: center;
  color: white;
}

.hum-icon {
  display: none;
}
@media (max-width: 768px) {
  .hum-icon {
    display: block;
  }
}

@media (max-width: 768px) {
  .menu-show .menu {
    max-height: 500px;
  }
}
/*---- header-menu End ----*/
/*---- content Satrt ----*/
.content {
  margin-bottom: 30px;
}

/*--banner start--*/
.banner {
  height: 70vh;
  background: url(../images/laura-chouette-Vze5s6SCrI8-unsplash.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
}
@media (max-width: 768px) {
  .banner {
    height: 50vh;
  }
}
@media (max-width: 480px) {
  .banner {
    height: 45vh;
  }
}

.banner-text {
  width: 23%;
  color: white;
  position: absolute;
  right: 150px;
  line-height: 1.5;
}
.banner-text h2 {
  font-size: 40px;
}
@media (max-width: 1024px) {
  .banner-text {
    width: 45%;
    right: 5%;
  }
}
@media (max-width: 768px) {
  .banner-text {
    width: 60%;
    right: 50%;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 480px) {
  .banner-text {
    width: 85%;
  }
}

.banner-shop-text {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.banner-shop-text a {
  display: block;
  color: white;
  border: 2px solid white;
  border-radius: 30px;
  text-align: center;
  width: 75%;
  padding: 15px 0;
}
.banner-shop-text a:hover {
  background-color: rgba(212, 209, 209, 0.514);
  transition: ease-in 0.3s;
}
@media (max-width: 480px) {
  .banner-shop-text a {
    width: 100%;
  }
}

/*-- banner End--*/
/*-- main Start --*/
.main {
  width: 80%;
  padding: 60px 0;
  margin: 0 auto;
}
.main ul {
  display: flex;
  align-items: center;
}
.main li {
  width: 50%;
}
.main img {
  width: 100%;
  height: 75vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 30% 20%;
     object-position: 30% 20%;
}
@media (max-width: 1024px) {
  .main {
    width: 90%;
  }
  .main li {
    text-align: left;
  }
  .main img {
    width: 100%;
    height: 350px;
    -o-object-position: 30%;
       object-position: 30%;
  }
}
@media (max-width: 768px) {
  .main {
    width: 100%;
  }
  .main ul {
    flex-direction: column-reverse;
  }
  .main li {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
  .main img {
    width: 70%;
    height: 500px;
  }
}
@media (max-width: 480px) {
  .main {
    padding: 10px 10px;
  }
  .main img {
    width: 100%;
    height: 500px;
  }
}

@media (max-width: 480px) {
  .main-row {
    margin-bottom: 10px;
  }
}

.main-row-text {
  width: 70%;
  margin-left: 110px;
  color: #000000;
}
.main-row-text h2 {
  font-size: 32px;
  margin-bottom: 15px;
  line-height: 1.2;
}
.main-row-text p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 10px;
}
.main-row-text a {
  display: block;
  color: #AC8A46;
  padding: 10px 0;
}
@media (max-width: 1024px) {
  .main-row-text {
    margin: 0 auto;
    text-align: left;
  }
}
@media (max-width: 768px) {
  .main-row-text {
    text-align: left;
  }
}
@media (max-width: 480px) {
  .main-row-text {
    width: 100%;
  }
}

.main-row-reverse {
  flex-direction: row-reverse;
}

.main-row-a {
  width: 70%;
  border: 2px solid black;
  padding: 18px 53px;
  text-align: center;
  border-radius: 30px;
  margin: 0 auto;
}
.main-row-a:hover {
  background: rgb(207, 205, 205);
  transition: ease-in 0.3s;
}
@media (max-width: 480px) {
  .main-row-a {
    width: 100%;
  }
}

.main-row-reverse-long {
  flex-direction: row-reverse;
}
.main-row-reverse-long .long-img {
  height: 100vh;
}
@media (max-width: 1024px) {
  .main-row-reverse-long .long-img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50%;
       object-position: 50%;
  }
}
@media (max-width: 768px) {
  .main-row-reverse-long .long-img {
    width: 70%;
    height: auto;
    -o-object-fit: fill;
       object-fit: fill;
  }
}
@media (max-width: 480px) {
  .main-row-reverse-long li {
    width: 100%;
  }
  .main-row-reverse-long .long-img {
    width: 95%;
    height: 60vh;
    -o-object-fit: fill;
       object-fit: fill;
  }
}

.main-row-text-long {
  width: 70%;
  margin-left: 110px;
  color: #000000;
}
.main-row-text-long ul {
  flex-direction: column;
  text-align: left;
}
.main-row-text-long ul li {
  width: 100%;
  text-align: left;
  margin-bottom: 52px;
}
.main-row-text-long h2 {
  font-size: 23px;
  padding: 10px 0;
  line-height: 1.1;
}
.main-row-text-long p {
  font-size: 16px;
  line-height: 1.5;
}
.main-row-text-long a {
  display: block;
  color: black;
  padding: 20px 0;
}
@media (max-width: 1024px) {
  .main-row-text-long {
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .main-row-text-long {
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .main-row-text-long {
    width: 100%;
  }
  .main-row-text-long img {
    width: 100%;
  }
  .main-row-text-long li {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .long-img {
    padding: 0 0;
  }
}

/*-- main End --*/
.top-shopping {
  height: 72.5%;
  background: #E0E0E0;
  padding: 40px 5px;
  margin-bottom: 60px;
}
.top-shopping .top-shopping-name {
  display: flex;
  flex-direction: column;
}
.top-shopping .top-shopping-name li {
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
}
.top-shopping .top-shopping-name li h2 {
  font-size: 22px;
  padding-bottom: 5px;
}
@media (max-width: 1024px) {
  .top-shopping .top-shopping-name {
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .top-shopping .top-shopping-name li {
    width: 70%;
  }
}
.top-shopping .top-shopping-price {
  display: flex;
}
.top-shopping .top-shopping-price p {
  display: block;
  margin-right: 10px;
  padding: 5px 0;
}
@media (max-width: 1024px) {
  .top-shopping {
    margin: 0 auto;
    margin-bottom: 60px;
  }
}
@media (max-width: 768px) {
  .top-shopping {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .top-shopping {
    width: 100%;
  }
}

.top-shopping-ul {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.top-shopping-ul li {
  width: 32.33%;
  text-align: center;
  margin-bottom: 15px;
}
.top-shopping-ul img {
  width: 100%;
  height: auto;
  border-bottom: 3px solid transparent;
}
.top-shopping-ul img:hover {
  border-bottom: 3px solid #916000;
}
@media (max-width: 1024px) {
  .top-shopping-ul {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .top-shopping-ul {
    flex-direction: column;
  }
  .top-shopping-ul li {
    width: 100%;
    margin: 0 auto;
  }
  .top-shopping-ul li img {
    width: 70%;
  }
}

.top-shopping-orgin {
  text-decoration: line-through;
  color: gray;
}

.top-shopping-img {
  position: relative;
  margin: 0 auto;
}
.top-shopping-img img {
  display: block;
}
.top-shopping-img:hover .overlay {
  opacity: 0.5;
}
@media (max-width: 768px) {
  .top-shopping-img {
    width: 70%;
  }
  .top-shopping-img a img {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .top-shopping-img img {
    -o-object-fit: fill;
       object-fit: fill;
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #707070;
  opacity: 0;
  transition: 0.5s ease;
}

.overlay-text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
}

.recommend-commodity {
  margin-bottom: 60px;
}
.recommend-commodity ul {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.recommend-commodity ul img {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.recommend-commodity li {
  width: 50%;
}
@media (max-width: 1024px) {
  .recommend-commodity ul {
    width: 90%;
    padding: 0 10px;
  }
  .recommend-commodity ul li {
    width: 100%;
  }
  .recommend-commodity ul img {
    width: 60%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 10% 50%;
       object-position: 10% 50%;
  }
}
@media (max-width: 768px) {
  .recommend-commodity ul {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .recommend-commodity ul img {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .recommend-commodity ul img {
    -o-object-position: top 30% left 20%;
       object-position: top 30% left 20%;
  }
}

.recommend-commodity-text {
  width: 65%;
  margin-left: 30px;
  line-height: 1.5;
}
.recommend-commodity-text h2 {
  font-weight: bold;
  font-size: 32px;
  color: black;
}
.recommend-commodity-text span {
  display: block;
  font-size: 20px;
  font-weight: lighter;
}
.recommend-commodity-text p {
  padding: 10px 0;
  font-size: 16px;
  font-weight: lighter;
}
.recommend-commodity-text a {
  color: #AC8A46;
  font-size: 16px;
}
@media (max-width: 1024px) {
  .recommend-commodity-text {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .recommend-commodity-text {
    width: 100%;
    margin: 0 auto;
  }
}

/*---- content End ----*/
/*---- footer Satrt ----*/
.footer {
  margin: 0 auto;
}

.footer-background {
  height: 60vh;
  background: url(../images/contact-2x.png) no-repeat right;
  background-size: cover;
  position: relative;
}
@media (max-width: 1024px) {
  .footer-background {
    background-position: 50%;
  }
}
@media (max-width: 768px) {
  .footer-background {
    height: 300px;
    background: url(../images/contact-2x.png) no-repeat 50%;
    background-size: cover;
  }
}

.search-input {
  width: 30%;
  position: absolute;
  bottom: 20%;
  left: 15%;
}
.search-input h2 {
  font-size: 32px;
  color: #8D8D8D;
  padding: 20px 0;
  line-height: 1.5;
}
.search-input input {
  position: relative;
  outline: none;
  width: 60%;
  height: 60px;
}
.search-input button {
  position: absolute;
  cursor: pointer;
  width: 130px;
  height: 60px;
  left: 60%;
  background-color: #916000;
  color: white;
  border: none;
}
.search-input button:hover {
  color: rgb(185, 185, 185);
}
@media (max-width: 1024px) {
  .search-input {
    width: 50%;
    left: 10%;
  }
}
@media (max-width: 768px) {
  .search-input {
    width: 50%;
    left: 5%;
  }
}
@media (max-width: 480px) {
  .search-input {
    width: 90%;
  }
}

.footer-menu {
  background-color: #916000;
}
.footer-menu ul {
  width: 80%;
  display: flex;
  padding: 15px 10px;
  justify-content: space-between;
  margin: 0 auto;
}
.footer-menu li {
  width: 50%;
  display: flex;
  align-items: center;
}
.footer-menu li h2 {
  width: 20%;
}
.footer-menu li h2 img {
  width: 100%;
  height: auto;
}
.footer-menu li p {
  display: block;
  color: white;
  margin-left: 20px;
}
@media (max-width: 1024px) {
  .footer-menu ul {
    width: 90%;
  }
  .footer-menu ul li h2 {
    width: 40%;
  }
}
@media (max-width: 768px) {
  .footer-menu ul {
    width: 100%;
  }
  .footer-menu ul li h2 {
    width: 35%;
  }
}
@media (max-width: 480px) {
  .footer-menu ul {
    width: 100%;
    flex-direction: column-reverse;
  }
  .footer-menu ul img {
    width: 50%;
  }
  .footer-menu ul li {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .footer-menu ul li h2 {
    width: 30%;
  }
  .footer-menu ul li p {
    display: block;
  }
}

.footer-menu-list ul {
  width: 100%;
  display: flex;
}
.footer-menu-list ul li {
  width: 33.33%;
  text-align: center;
}
.footer-menu-list ul li a {
  color: white;
  width: 100%;
  padding: 20px;
}
.footer-menu-list ul li a:hover {
  color: gray;
}
@media (max-width: 480px) {
  .footer-menu-list ul {
    flex-direction: row;
  }
  .footer-menu-list ul li {
    width: 33.33%;
  }
}

/*---- footer End ----*/
/*---- Product Start ----*/
.product-menu {
  background-color: #916000;
  margin: 0 auto;
}
.product-menu ul {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.product-menu ul li {
  width: 12.33%;
  text-align: left;
  font-size: 20px;
}
.product-menu a {
  display: block;
  color: #FFFFFF;
  padding: 14px 0;
}
.product-menu a:hover {
  color: rgb(179, 178, 178);
}
@media (max-width: 1024px) {
  .product-menu ul {
    width: 90%;
    justify-content: space-between;
  }
  .product-menu ul li {
    width: 15%;
  }
}
@media (max-width: 768px) {
  .product-menu {
    display: none;
  }
}

.content-product {
  margin-top: 80px;
}
@media (max-width: 1024px) {
  .content-product {
    margin-top: 30px;
  }
}
@media (max-width: 768px) {
  .content-product {
    margin-top: 80px;
  }
}

.content-product-ul {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.content-product-ul > li {
  width: 24.33%;
  margin-bottom: 58px;
}
.content-product-ul > li img {
  width: 100%;
  border-bottom: 5px solid transparent;
}
.content-product-ul > li img:hover {
  border-bottom: 5px solid #916000;
  transition: all 0.5s;
}
@media (max-width: 1024px) {
  .content-product-ul {
    width: 90%;
  }
  .content-product-ul > li {
    width: 32.33%;
    margin-bottom: 15px;
  }
  .content-product-ul > li img {
    height: auto;
  }
}
@media (max-width: 768px) {
  .content-product-ul > li {
    width: 48%;
  }
}
@media (max-width: 480px) {
  .content-product-ul > li {
    width: 100%;
    margin-bottom: 20px;
  }
  .content-product-ul > li img {
    height: 40vh;
  }
}

.product-commodity-catalog li {
  width: 100%;
  padding: 5px 0;
}
.product-commodity-catalog li h2 {
  font-size: 24px;
  color: #000;
}
.product-commodity-catalog li h2 p {
  font-size: 16px;
  margin-top: 3px;
}

.roduct-commodity-catalog-text {
  display: flex;
  width: 100%;
}
.roduct-commodity-catalog-text p {
  display: block;
  padding: 0px 5px;
}
.roduct-commodity-catalog-text a {
  display: block;
  color: #916000;
  text-align: center;
}
.roduct-commodity-catalog-text a i {
  width: 20px;
  height: 18px;
}
.roduct-commodity-catalog-text a:hover {
  color: rgb(179, 179, 179);
}

.pagination {
  margin: 0 auto;
}
.pagination ul {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.pagination ul li {
  text-align: center;
  font-size: 20px;
}
.pagination ul li a {
  display: block;
  color: #000;
  padding: 2px 10px;
  border-bottom: 2px solid transparent;
}
.pagination ul li a:hover {
  color: #916000;
  border-bottom: 2px solid #916000;
}

/*---- Product End ----*/
/*---- Login Start ----*/
.login {
  padding: 80px 0;
}

.login-ul {
  width: 80%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.login-ul img {
  width: 80%;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50%;
     object-position: 50%;
}
.login-ul > li {
  width: 50%;
}
@media (max-width: 1024px) {
  .login-ul img {
    width: 60%;
    height: auto;
  }
}
@media (max-width: 768px) {
  .login-ul {
    flex-direction: column;
  }
  .login-ul img {
    width: 100%;
    margin-bottom: 20px;
  }
  .login-ul > li {
    width: 100%;
  }
}

.login-input {
  width: 65%;
  margin-left: 30px;
  line-height: 1.5;
}
.login-input > li h2 {
  font-size: 32px;
  color: #000000;
  padding: 12px 0;
  font-weight: bold;
}
.login-input > li label {
  display: block;
  font-size: 16px;
  color: #707070;
}
.login-input > li label input {
  width: 100%;
  padding: 10px 5px;
}
@media (max-width: 1024px) {
  .login-input {
    width: 80%;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .login-input {
    width: 60%;
  }
}
@media (max-width: 480px) {
  .login-input {
    width: 90%;
  }
  .login-input li h2 {
    text-align: center;
  }
}

.login-register {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 36px;
}
.login-register a {
  display: block;
  color: #916000;
}
.login-register a:hover {
  color: gray;
}
.login-register input {
  margin-left: 15px;
  color: #916000;
  border: 1px solid #916000;
  border-radius: 5px;
  padding: 8px 16px;
}
.login-register input:hover {
  background-color: #916000;
  color: white;
}
@media (max-width: 1024px) {
  .login-register {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .login-register {
    flex-direction: column-reverse;
  }
  .login-register li {
    margin-bottom: 10px;
  }
  .login-register input {
    margin: 0 auto;
  }
}

.login-register-button {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 480px) {
  .login-register-button {
    width: 50%;
  }
}

/*---- Login Start ----*/
/*---- popular-product-page  Start----*/
.popular-product {
  width: 80%;
  margin: 0 auto;
  display: flex;
  padding: 80px 0;
}
@media (max-width: 1024px) {
  .popular-product {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .popular-product {
    flex-direction: column-reverse;
  }
}
@media (max-width: 480px) {
  .popular-product {
    width: 100%;
  }
}

.popular-product-img {
  width: 68.33%;
}
.popular-product-img img {
  width: 100%;
  height: 44vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 60%;
     object-position: 50% 60%;
}
@media (max-width: 1024px) {
  .popular-product-img {
    width: 65%;
  }
  .popular-product-img img {
    height: 40vh;
  }
}
@media (max-width: 768px) {
  .popular-product-img {
    margin: 0 auto;
    width: 85%;
  }
}
@media (max-width: 480px) {
  .popular-product-img {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .mobile-none {
    display: none;
  }
}

@media (max-width: 768px) {
  .pad-size {
    width: 100%;
    text-align: center;
  }
  .pad-size img {
    width: 75%;
    height: 50vh;
  }
}
@media (max-width: 480px) {
  .pad-size img {
    width: 100%;
  }
}

.popular-product-colimg {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
.popular-product-colimg li {
  width: 48%;
}
.popular-product-colimg li img {
  width: 100%;
  height: 85vh;
  -o-object-position: 20% 70%;
     object-position: 20% 70%;
}
@media (max-width: 1024px) {
  .popular-product-colimg li img {
    height: 65vh;
  }
}
@media (max-width: 768px) {
  .popular-product-colimg {
    flex-direction: column;
    margin: 0 auto;
  }
  .popular-product-colimg li {
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }
  .popular-product-colimg li img {
    width: 80%;
    height: 75vh;
  }
}
@media (max-width: 480px) {
  .popular-product-colimg li img {
    width: 100%;
  }
}

.Product-purchase {
  width: 30%;
  margin-left: 30px;
  font-weight: lighter;
  color: #000;
}
.Product-purchase p {
  width: 83%;
  display: block;
  font-size: 20px;
}
.Product-purchase ul {
  width: 100%;
  line-height: 1.5;
}
.Product-purchase ul li h2 {
  font-size: 32px;
  font-weight: bold;
}
@media (max-width: 1024px) {
  .Product-purchase {
    width: 35%;
  }
  .Product-purchase p {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .Product-purchase {
    width: 85%;
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .Product-purchase {
    width: 95%;
  }
}

.desktop-none {
  display: none;
}
@media (max-width: 768px) {
  .desktop-none {
    display: block;
  }
}
@media (max-width: 480px) {
  .desktop-none img {
    height: 50vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.buy-quantity {
  margin-top: 32px;
  margin-bottom: 80px;
}
.buy-quantity label {
  display: block;
  display: flex;
  padding: 5px 0;
}
.buy-quantity input {
  width: 43%;
  display: block;
  padding: 10px 10px;
  position: relative;
  outline: 2px solid #916000;
}
.buy-quantity button {
  width: 190px;
  height: 45px;
  background-color: #916000;
  color: white;
  display: block;
  position: absolute;
  outline: 2px solid #916000;
  border: none;
  right: 14%;
  cursor: pointer;
}
.buy-quantity a i {
  color: #916000;
}
.buy-quantity a i:hover {
  color: gray;
}
@media (max-width: 1024px) {
  .buy-quantity input {
    width: 50%;
  }
  .buy-quantity button {
    width: 160px;
    height: 45px;
    right: 5%;
  }
}
@media (max-width: 768px) {
  .buy-quantity button {
    width: 190px;
    right: 25%;
  }
}
@media (max-width: 480px) {
  .buy-quantity {
    margin-bottom: 15px;
  }
  .buy-quantity button {
    right: 10%;
  }
}

.Purchase-Notes {
  padding-top: 20px;
}
.Purchase-Notes h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

/*---- popular-product-page End----*/
/*---- member-page Start ----*/
.member-page {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 80px 0;
}
@media (max-width: 1024px) {
  .member-page {
    width: 90%;
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .member-page {
    flex-direction: column;
  }
}

.member-menu {
  width: 20%;
  color: #848484;
}
.member-menu ul h2 {
  font-size: 20px;
  padding: 25px 0;
}
.member-menu ul li {
  font-size: 16px;
  border-bottom: 2px solid transparent;
}
.member-menu ul li a {
  display: block;
  padding: 15px 0;
}
.member-menu ul li:hover {
  border-bottom: 2px solid #916000;
}
@media (max-width: 768px) {
  .member-menu {
    width: 100%;
  }
  .member-menu h2 {
    display: none;
  }
  .member-menu ul {
    display: flex;
  }
  .member-menu ul li {
    width: 33.33%;
    text-align: center;
  }
}

.member-profile {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .member-profile {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .member-profile {
    width: 100%;
    flex-direction: column-reverse;
  }
}

.member-data-modification {
  width: 70%;
}
.member-data-modification ul input {
  width: 65%;
  display: block;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px 5px;
  margin-left: 5px;
  color: #818A91;
  outline: none;
}
.member-data-modification ul select {
  display: block;
  padding: 10px 5px;
  margin-left: 5px;
  color: #818A91;
}
.member-data-modification ul label {
  width: 15%;
  display: block;
  padding: 10px 0;
  color: #818A91;
}
.member-data-modification ul h2 {
  font-size: 16px;
  padding-top: 27px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
  margin-bottom: 27px;
}
.member-data-modification ul li {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}
@media (max-width: 1024px) {
  .member-data-modification {
    width: 68%;
  }
}
@media (max-width: 768px) {
  .member-data-modification {
    margin: 0 auto;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .member-data-modification ul label {
    width: 25%;
  }
}

.address-list {
  width: 80%;
}
.address-list li {
  width: 100%;
}
.address-list li label {
  width: 100%;
}
.address-list li input {
  width: 80%;
}
@media (max-width: 480px) {
  .address-list {
    width: 75%;
  }
  .address-list li input {
    width: 94%;
  }
}

.address-col {
  width: 50%;
  display: flex;
}
.address-col select {
  width: 50%;
}

.address-checkbox .address-checkbox-label {
  width: 100%;
}
.address-checkbox .address-checkbox-label label {
  width: 100%;
  display: flex;
  align-items: center;
}
.address-checkbox .address-checkbox-label label p {
  padding: 0 5px;
}
.address-checkbox .address-checkbox-label label input {
  width: 5%;
  height: 20px;
}

.check-input label {
  width: 100%;
}
.check-input label button {
  width: 35%;
  height: 38px;
  outline: none;
  border: 1px solid #916000;
  border-radius: 5px;
  background-color: #916000;
  color: white;
  margin-left: 5px;
}
.check-input label button:hover {
  background-color: rgb(216, 216, 216);
  color: #916000;
}

.input-account input {
  outline: none;
  border: none;
  color: gray;
}

.change-password {
  list-style: none;
}
.change-password .password-list {
  width: 100%;
}
.change-password .password-list h2 {
  font-size: 16px;
  padding-top: 27px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
  margin-bottom: 27px;
}
.change-password .password-list li {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.change-password .password-list li label {
  color: #818A91;
  display: block;
  width: 15%;
}
.change-password .password-list li input {
  width: 61%;
  padding: 5px 5px;
  display: block;
}
@media (max-width: 480px) {
  .change-password .password-list li input {
    width: 70%;
  }
  .change-password .password-list li label {
    width: 25%;
  }
}

.password-button button {
  width: 28%;
  height: 38px;
  outline: none;
  border: 1px solid #916000;
  border-radius: 5px;
  background-color: #916000;
  color: white;
}
.password-button button:hover {
  background-color: rgb(216, 216, 216);
  color: #916000;
}

.member-total-data {
  width: 25%;
  color: #8D8D8D;
}
.member-total-data p {
  display: block;
}
.member-total-data ul li {
  width: 100%;
  display: flex;
  margin-bottom: 16px;
}
.member-total-data ul li h2 {
  width: 50%;
}
@media (max-width: 1024px) {
  .member-total-data {
    width: 31.33%;
  }
}
@media (max-width: 768px) {
  .member-total-data {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .member-total-data ul li h2 {
    width: 50%;
    text-align: center;
  }
  .member-total-data ul li p {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .member-total-data {
    width: 100%;
  }
  .member-total-data ul li h2 {
    text-align: left;
    width: 20%;
  }
  .member-total-data ul li p {
    width: 60%;
    text-align: left;
  }
}

.member-total-data-h2 {
  width: 35%;
  padding-top: 27px;
}
.member-total-data-h2 i {
  color: #000;
}
@media (max-width: 768px) {
  .member-total-data-h2 {
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .member-total-data-h2 {
    justify-content: start;
  }
}

.member-profile-reverse {
  display: flex;
  width: 80%;
}

.member-total-data-h2 {
  width: 100%;
  display: flex;
  padding-bottom: 28px;
}

.Invitation-code {
  flex-wrap: wrap;
}
.Invitation-code span {
  width: 100%;
  font-weight: lighter;
  font-size: 5px;
}
@media (max-width: 480px) {
  .Invitation-code span {
    text-align: left;
  }
}

/*---- member-page End ----*//*# sourceMappingURL=all.css.map */