@import 'reset';
@import 'grids';
@import 'mixin';
@import 'Variable';


// * {
//     outline: 1px solid blue;
// }

.container {
    max-width: 1920px;
    margin: 0 auto;
}

/*----header start----*/
.header {
    width: 80%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 auto;

    a {
        display: block;
        padding: 14px 0;
    }

    @include desktop-below {
        width: 90%;
    }

    @include desktop-768 {
        width: 100%;
        position: fixed;
        z-index: 100;
        background: white;
        padding: 10px;
        border-bottom: 1px solid gray;
        top: 0;
    }
}

/*----header End----*/

/*---- header humbger-menu Start----*/
.menu-check {
    display: none;
}

.ham-check {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 1px solid gray;

    span {
        width: 25px;
        height: 3px;
        background: gray;
        border-radius: 15px;
        position: absolute;
        transition: 0.25s ease-in-out;
        transform-origin: left center;
        top: 5%;
        left: 5%
    }

    span:nth-child(1) {
        top: 20%;
    }

    span:nth-child(2) {
        top: 48%;
    }

    span:nth-child(3) {
        top: 75%;
    }

}

// .menu-check:checked+.menu-open-button span:nth-child(1) {
//     transform: rotate(45deg);
// }

// .menu-check:checked+.menu-open-button span:nth-child(2) {
//     transform: scaleY(0);
// }

// .menu-check:checked+.menu-open-button span:nth-child(3) {
//     transform: rotate(-45deg);
// }

/*---- header humbger-menu End----*/


/*---- header-menu Satrt ----*/
.menu {
    width: 40%;
    display: flex;

    a {
        display: block;
        padding: 5px;
    }

    li {
        width: 40%;
        text-align: center;
    }

    a:hover {
        color: rgb(207, 205, 205);
    }

    @include desktop-below {
        width: 60%;
    }

    @include desktop-768 {
        width: 100%;
        max-height: 0px;
        overflow: hidden;
        margin-top: 1px;
        position: absolute;
        z-index: 100;
        top: 56px;
        background: rgba(255, 255, 255, 0);
        flex-direction: column;
        transition: max-height 1s;
        margin: 0 auto;
        left: 0;
        right: 0;
        i{
            display: none;
        }
        li {
            width: 100%;
            padding: 10px 0;
            border-bottom: 1px solid white;
            background: #707070dc;
        }

        a {
            color: white;
        }

        .cart-shopping-moblie-li {
            display: none;
        }
    }

    @include mobile {
        .cart-shopping-moblie-li {
            display: none;
        }
    }
}

.header-cart-moblie {
    display: none;

    @include desktop-768 {
        display: block;
        position: absolute;
        left: 89%;
        top: 8px
    }

    @include mobile {
        left: 80%;
    }
}

.moblie-cart-icon {
    position: relative;

    i {
        font-size: 20px;
        color: gray;
    }

    h2 {
        position: absolute;
        background: #916000;
        font-size: 8px;
        width: 15px;
        height: 15px;
        top: 10px;
        right: -5px;
        border-radius: 100%;
        text-align: center;
        color: white;
    }
}

.hum-icon {
    display: none;

    @include desktop-768 {
        display: block;
    }

}

@include desktop-768 {
    .menu-show .menu {
        max-height: 500px;
    }
}

/*---- header-menu End ----*/

/*---- content Satrt ----*/
.content {
    margin-bottom: 30px;
}

/*--banner start--*/
.banner {
    height: calc(70vh);
    background: url(../images/laura-chouette-Vze5s6SCrI8-unsplash.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;

    @include desktop-768 {
        height: calc(50vh);
    }

    @include mobile {
        height: calc(45vh);
    }
}

.banner-text {
    width: 23%;
    color: white;
    position: absolute;
    right: 150px;
    line-height: 1.5;

    h2 {
        font-size: 40px;
    }

    @include desktop-below {
        width: 45%;
        right: 5%;
    }

    @include desktop-768 {
        width: 60%;
        right: 50%;
        left: 50%;
        transform: translateX(-50%);
    }

    @include mobile {
        width: 85%;
    }
}

.banner-shop-text {
    display: flex;
    justify-content: center;
    padding: 10px 0;

    a {
        display: block;
        color: white;
        border: 2px solid white;
        border-radius: 30px;
        text-align: center;
        width: 75%;
        padding: 15px 0;

        &:hover {
            background-color: rgba(212, 209, 209, 0.514);
            transition: ease-in 0.3s;
        }
    }

    @include mobile {
        a {
            width: 100%;

        }
    }
}

/*-- banner End--*/

/*-- main Start --*/
.main {
    width: 80%;
    padding: 60px 0;
    margin: 0 auto;

    ul {
        display: flex;
        align-items: center;
    }

    li {
        width: 50%;
    }

    img {
        width: 100%;
        height: calc(75vh);
        object-fit: cover;
        object-position: 30% 20%;
    }

    @include desktop-below {
        width: 90%;

        li {
            text-align: left;
        }

        img {
            width: 100%;
            height:350px;
            object-position: 30%;
        }
    }

    @include desktop-768 {
        width: 100%;

        ul {
            flex-direction: column-reverse;
        }

        li {
            width: 100%;
            text-align: center;
            margin-bottom: 15px;
        }

        img {
            width: 70%;
            height: 500px;
        }
    }

    @include mobile {
        padding: 10px 10px;
        img {
            width: 100%;
            height: 500px;
        }
    }
}

.main-row {
    @include mobile {
        margin-bottom: 10px;
    }
}

.main-row-text {
    width: 70%;
    margin-left: 110px;
    color: #000000;

    h2 {
        font-size: 32px;
        margin-bottom: 15px;
        line-height: 1.2;
    }

    p {
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 10px;
    }

    a {
        display: block;
        color: #AC8A46;
        padding: 10px 0;
    }

    @include desktop-below {
        margin: 0 auto;
        text-align: left;
    }

    @include desktop-768 {
        text-align: left;
    }

    @include mobile {
        width: 100%;
    }
}

.main-row-reverse {
    flex-direction: row-reverse;
}

.main-row-a {
    width: 70%;
    border: 2px solid black;
    padding: 18px 53px;
    text-align: center;
    border-radius: 30px;
    margin: 0 auto;

    &:hover {
        background: rgb(207, 205, 205);
        transition: ease-in 0.3s;
    }

    @include mobile {
        width: 100%;
    }
}

.main-row-reverse-long {
    flex-direction: row-reverse;

    .long-img {
        height: calc(100vh);
    }

    @include desktop-below {
        .long-img {
            width: 100%;
            height: auto;
            object-fit: cover;
            object-position: 50%;
        }
    }

    @include desktop-768 {
        .long-img {
            width: 70%;
            height: auto;
            object-fit: fill;
        }
    }

    @include mobile {
        li {
            width: 100%;
        }

        .long-img {
            width: 95%;
            height: calc(60vh);
            object-fit: fill;
        }
    }
}

.main-row-text-long {
    width: 70%;
    margin-left: 110px;
    color: #000000;

    ul {
        flex-direction: column;
        text-align: left;

        li {
            width: 100%;
            text-align: left;
            margin-bottom: 52px;
        }
    }

    h2 {
        font-size: 23px;
        padding: 10px 0;
        line-height: 1.1;
    }

    p {
        font-size: 16px;
        line-height: 1.5;
    }

    a {
        display: block;
        color: black;
        padding: 20px 0;
    }

    @include desktop-below {
        margin: 0 auto;
    }

    @include desktop-768 {
        margin: 0 auto;
    }

    @include mobile {
        width: 100%;

        img {
            width: 100%;
        }

        li {
            width: 100%;
        }
    }
}

.long-img {
    @include mobile {
        padding: 0 0;
    }
}

/*-- main End --*/

.top-shopping {
    height: 72.5%;
    background: #E0E0E0;
    padding: 40px 5px;
    margin-bottom: 60px;
    .top-shopping-name {
        display: flex;
        flex-direction: column;


        li {
            width: 100%;
            text-align: left;
            margin-bottom: 5px;

            h2 {
                font-size: 22px;
                padding-bottom: 5px;
            }
        }

        @include desktop-below {
            margin: 0 auto;
        }
        @include desktop-768{
            li{
                width: 70%;
            }
        }
    }

    .top-shopping-price {
        display: flex;

        p {
            display: block;
            margin-right: 10px;
            padding: 5px 0;
        }
    }

    @include desktop-below {
        margin: 0 auto;
        margin-bottom: 60px;
    }

    @include desktop-768 {
        width: 100%;
    }

    @include mobile {
        width: 100%;
    }
}

.top-shopping-ul {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    li {
        width: 32.33%;
        text-align: center;
        margin-bottom: 15px;
    }

    img {
        width: 100%;
        height: auto;
        border-bottom: 3px solid transparent;

        &:hover {
            border-bottom: 3px solid #916000;
        }
    }

    @include desktop-below {
        width: 90%;
    }

    @include desktop-768 {
        flex-direction: column;

        li {
            width: 100%;
            margin: 0 auto;
            img{
                width: 70%;
            }
        }
    }
}

.top-shopping-orgin {
    text-decoration: line-through;
    color: gray;
}

.top-shopping-img {
    position: relative;
    margin: 0 auto;
    img {
        display: block;
    }

    &:hover .overlay {
        opacity: 0.5;
    }
    @include desktop-768{
        width: 70%;
        a{
        img{
            width: 100%;
        }
    }
    }
    @include mobile {
        img {
            object-fit: fill;
        }
    }
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #707070;
    opacity: 0;
    transition: 0.5s ease;
}

.overlay-text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
}

.recommend-commodity {
    margin-bottom: 60px;

    ul {
        display: flex;
        align-items: center;
        width: 80%;
        margin: 0 auto;

        img {
            width: 50%;
            // height: calc(56.6vh);
            object-fit: cover;
        }
    }

    li {
        width: 50%;
    }

    @include desktop-below {

        ul {
            width: 90%;
            padding: 0 10px;

            li {
                width: 100%;
            }

            img {
                width: 60%;
                height: auto;
                object-fit: cover;
                object-position: 10% 50%;
            }
        }

    }

    @include desktop-768 {}

    @include desktop-768 {

        ul {
            width: 100%;
            display: flex;
            flex-direction: column;

            img {
                width: 100%;
            }
        }
    }

    @include mobile {
        ul {
            img {
                object-position: top 30% left 20%;
            }
        }
    }
}

.recommend-commodity-text {
    width: 65%;
    margin-left: 30px;
    line-height: 1.5;

    h2 {
        font-weight: bold;
        font-size: 32px;
        color: black;
    }

    span {
        display: block;
        font-size: 20px;
        font-weight: lighter;
    }

    p {
        padding: 10px 0;
        font-size: 16px;
        font-weight: lighter;
    }

    a {
        color: #AC8A46;
        font-size: 16px;
    }

    @include desktop-below {
        width: 80%;
    }

    @include desktop-768 {
        width: 100%;
        margin: 0 auto;
    }
}

/*---- content End ----*/

/*---- footer Satrt ----*/
.footer {
    margin: 0 auto;
}

.footer-background {
    height: calc(60vh);
    background: url(../images/contact-2x.png) no-repeat right;
    background-size: cover;
    position: relative;

    @include desktop-below {
        background-position: 50%;
    }

    @include desktop-768 {
        height: 300px;
        background: url(../images/contact-2x.png) no-repeat 50%;
        background-size: cover;
    }
}

.search-input {
    width: 30%;
    position: absolute;
    bottom: 20%;
    left: 15%;

    h2 {
        font-size: 32px;
        color: #8D8D8D;
        padding: 20px 0;
        line-height: 1.5;
    }

    input {
        position: relative;
        outline: none;
        width: 60%;
        height: 60px;
    }

    button {
        position: absolute;
        cursor: pointer;
        width: 130px;
        height: 60px;
        left: 60%;
        background-color: #916000;
        color: white;
        border: none;

        &:hover {
            color: rgb(185, 185, 185);
        }
    }

    @include desktop-below {
        width: 50%;
        left: 10%;
    }

    @include desktop-768 {
        width: 50%;
        left: 5%;
    }

    @include mobile {
        width: 90%;
    }
}

.footer-menu {
    background-color: #916000;

    ul {
        width: 80%;
        display: flex;
        padding: 15px 10px;
        justify-content: space-between;
        margin: 0 auto;

    }

    li {
        width: 50%;
        display: flex;
        // text-align: center;
        // padding: 10px 10px;
        align-items: center;

        h2 {
            width: 20%;

            img {
                width: 100%;
                height: auto;
            }
        }

        p {
            display: block;
            color: white;
            margin-left: 20px;
        }
    }

    @include desktop-below {
        ul {
            width: 90%;

            li {
                h2 {
                    width: 40%;
                }
            }
        }

    }

    @include desktop-768 {
        ul {
            width: 100%;

            li {
                h2 {
                    width: 35%;
                }
            }
        }


    }

    @include mobile {
        ul {
            width: 100%;
            flex-direction: column-reverse;

            img {
                width: 50%;
            }

            li {
                display: flex;
                justify-content: center;
                width: 100%;

                h2 {
                    width: 30%;
                }

                p {
                    display: block;
                }
            }
        }
    }
}

.footer-menu-list {
    ul {
        width: 100%;
        display: flex;

        li {
            width: 33.33%;
            text-align: center;

            a {
                color: white;
                width: 100%;
                padding: 20px;

                &:hover {
                    color: gray;
                }
            }
        }
    }

    @include mobile {
        ul {
            flex-direction: row;

            li {

                width: 33.33%;
            }
        }
    }
}

/*---- footer End ----*/

/*---- Product Start ----*/
.product-menu {
    background-color: #916000;
    margin: 0 auto;

    ul {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;

        li {
            width: 12.33%;
            text-align: left;
            font-size: 20px;
        }
    }

    a {
        display: block;
        color: #FFFFFF;
        padding: 14px 0;

        &:hover {
            color: rgb(179, 178, 178);
        }
    }

    @include desktop-below {
        ul {
            width: 90%;
            justify-content: space-between;

            li {
                width: 15%;
            }
        }
    }

    @include desktop-768 {
        display: none;
    }
}

.content-product {
    margin-top: 80px;

    @include desktop-below {
        margin-top: 30px;
    }

    @include desktop-768 {
        margin-top: 80px;
    }
}

.content-product-ul {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    >li {
        width: 24.33%;
        margin-bottom: 58px;

        img {
            width: 100%;
            // height: calc(35vh);
            border-bottom: 5px solid transparent;

            &:hover {
                border-bottom: 5px solid #916000;
                transition: all 0.5s;
            }
        }
    }

    @include desktop-below {
        width: 90%;

        >li {
            width: 32.33%;
            margin-bottom: 15px;

            img {
                height: auto;
                // height: calc(30vh);
            }
        }
    }

    @include desktop-768 {
        >li {
            width: 48%;
        }
    }

    @include mobile {
        >li {
            width: 100%;
            margin-bottom: 20px;

            img {
                height: calc(40vh);
            }
        }
    }
}

.product-commodity-catalog {
    li {
        width: 100%;
        padding: 5px 0;

        h2 {
            font-size: 24px;
            color: #000;

            p {
                font-size: 16px;
                margin-top: 3px;
            }
        }
    }
}

.roduct-commodity-catalog-text {
    display: flex;
    width: 100%;

    p {
        display: block;
        padding: 0px 5px;
    }

    a {
        display: block;
        color: #916000;
        // padding: 4px 5px;
        text-align: center;

        i {
            width: 20px;
            height: 18px;
        }

        &:hover {
            color: rgb(179, 179, 179);
        }
    }
}


// 頁面選單開始
.pagination {
    // width: 70%;
    margin: 0 auto;

    ul {
        width: 80%;
        display: flex;
        justify-content: center;
        margin: 0 auto;

        li {
            text-align: center;
            font-size: 20px;

            a {
                display: block;
                color: #000;
                padding: 2px 10px;
                border-bottom: 2px solid transparent;

                &:hover {
                    color: #916000;
                    border-bottom: 2px solid #916000;
                }
            }
        }

    }
}
// 頁面選單結束
/*---- Product End ----*/

/*---- Login Start ----*/
.login {
    padding: 80px 0;
}

.login-ul {
    width: 80%;
    display: flex;
    align-items: center;
    margin: 0 auto;

    img {
        width: 80%;
        height: calc(70vh);
        object-fit: cover;
        object-position: 50%;
    }

    >li {
        width: 50%;
    }

    @include desktop-below {
        img {
            width: 60%;
            height: auto;
        }
    }

    @include desktop-768 {
        flex-direction: column;

        img {
            width: 100%;
            margin-bottom: 20px;
        }

        >li {
            width: 100%;
        }
    }
}

.login-input {
    width: 65%;
    margin-left: 30px;
    line-height: 1.5;

    >li {
        h2 {
            font-size: 32px;
            color: #000000;
            padding: 12px 0;
            font-weight: bold;
        }

        label {
            display: block;
            font-size: 16px;
            color: #707070;

            input {
                width: 100%;
                padding: 10px 5px;
            }
        }
    }

    @include desktop-below {
        width: 80%;
        margin: 0 auto;
    }

    @include desktop-768 {
        width: 60%;
    }

    @include mobile {
        width: 90%;

        li {
            h2 {
                text-align: center;
            }
        }
    }
}

.login-register {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 36px;

    a {
        display: block;
        color: #916000;

        &:hover {
            color: gray;
        }
    }

    input {
        margin-left: 15px;
        color: #916000;
        border: 1px solid #916000;
        border-radius: 5px;
        padding: 8px 16px;

        &:hover {
            background-color: #916000;
            color: white;
        }
    }

    @include desktop-below {
        width: 100%;
    }

    @include mobile {
        flex-direction: column-reverse;

        li {
            margin-bottom: 10px;
        }

        input {
            margin: 0 auto;
        }
    }
}

.login-register-button {
    display: flex;
    justify-content: space-evenly;

    @include mobile {
        width: 50%;
    }

}

/*---- Login Start ----*/

/*---- popular-product-page  Start----*/
.popular-product {
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding: 80px 0;

    @include desktop-below {
        width: 90%;
    }

    @include desktop-768 {
        flex-direction: column-reverse;
    }

    @include mobile {
        width: 100%;
    }
}

.popular-product-img {
    width: 68.33%;

    img {
        width: 100%;
        height: calc(44vh);
        object-fit: cover;
        object-position: 50% 60%;
    }

    @include desktop-below {
        width: 65%;

        img {
            height: calc(40vh);
        }
    }

    @include desktop-768 {
        margin: 0 auto;
        width: 85%;
    }

    @include mobile {
        width: 95%;
    }
}

.mobile-none {
    @include desktop-768 {
        display: none;
    }
}

.pad-size {
    @include desktop-768 {
        width: 100%;
        text-align: center;

        img {
            width: 75%;
            height: calc(50vh);
        }
    }

    @include mobile {
        img {
            width: 100%;
        }
    }
}

.popular-product-colimg {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;

    li {
        width: 48%;

        img {
            width: 100%;
            height: calc(85vh);
            object-position: 20% 70%;
        }
    }

    @include desktop-below {

        li {
            img {
                height: calc(65vh);
            }
        }
    }

    @include desktop-768 {
        flex-direction: column;
        margin: 0 auto;

        li {
            width: 100%;
            text-align: center;
            padding: 20px 0;

            img {
                width: 80%;
                height: calc(75vh);
            }
        }
    }

    @include mobile {

        li {
            img {
                width: 100%;
            }
        }
    }
}

.Product-purchase {
    width: 30%;
    margin-left: 30px;
    font-weight: lighter;
    color: #000;

    p {
        width: 83%;
        display: block;
        font-size: 20px;
    }

    ul {
        width: 100%;
        line-height: 1.5;

        li {
            h2 {
                font-size: 32px;
                font-weight: bold;
            }
        }
    }

    @include desktop-below {
        width: 35%;

        p {
            width: 100%;
        }
    }

    @include desktop-768 {
        width: 85%;
        margin: 0 auto;
    }

    @include mobile {
        width: 95%;
    }
}

.desktop-none {
    display: none;

    @include desktop-768 {
        display: block;
    }

    @include mobile {
        img {
            height: calc(50vh);
            object-fit: cover;
        }

    }
}

.buy-quantity {
    margin-top: 32px;
    margin-bottom: 80px;

    label {
        display: block;
        display: flex;
        padding: 5px 0;
    }

    input {
        width: 43%;
        display: block;
        padding: 10px 10px;
        position: relative;
        outline: 2px solid #916000;
    }

    button {
        width: 190px;
        height: 45px;
        background-color: #916000;
        color: white;
        display: block;
        position: absolute;
        outline: 2px solid #916000;
        border: none;
        right: 14%;
        cursor: pointer;
    }

    a {
        i {
            color: #916000;

            &:hover {
                color: gray;
            }
        }

    }

    @include desktop-below {
        input {
            width: 50%;
        }

        button {
            width: 160px;
            height: 45px;
            right: 5%;
        }
    }

    @include desktop-768 {

        button {
            width: 190px;
            right: 25%;
        }
    }

    @include mobile {
        margin-bottom: 15px;

        button {
            right: 10%;
        }
    }
}

.Purchase-Notes {
    padding-top: 20px;

    h3 {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 8px;
    }
}

/*---- popular-product-page End----*/

/*---- member-page Start ----*/

.member-page {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 80px 0;
    @include desktop-below{
        width: 90%;
        justify-content: space-between;
    }
    @include desktop-768{
        flex-direction: column;
    }
}

.member-menu {
    width: 20%;
    color: #848484;

    ul {
        
        h2 {
            font-size: 20px;
            padding: 25px 0;
        }

        li {
            font-size: 16px;
            border-bottom: 2px solid transparent;
            a {
                display: block;
                padding: 15px 0;
            }

            &:hover {
                border-bottom: 2px solid #916000;
            }
        }
    }
    @include desktop-768{
        width: 100%;
        h2{
           display: none;
        }
        ul{
            display: flex;
            li{
                width: 33.33%;
                text-align: center;
            }
        }
    }
}

.member-profile {
    width: 70%;
    display: flex;
    justify-content: space-between;
    @include desktop-below{
        width: 80%;
    }
    @include desktop-768{
        width: 100%;
        flex-direction: column-reverse;
    }
}

.member-data-modification {
    width: 70%;
    ul {
        input {
            width: 65%;
            display: block;
            border: 1px solid gray;
            border-radius: 4px;
            padding: 10px 5px;
            margin-left: 5px;
            color: #818A91;
            outline: none;
        }

        select {
            display: block;
            padding: 10px 5px;
            margin-left: 5px;
            color: #818A91;
        }

        label {
            width: 15%;
            display: block;
            padding: 10px 0;
            color: #818A91;
        }

        h2 {
            font-size: 16px;
            padding-top: 27px;
            padding-bottom: 10px;
            border-bottom: 1px solid #000;
            margin-bottom: 27px;
        }

        li {
            width: 100%;
            display: flex;
            margin-bottom: 10px;
        }
    }
    @include desktop-below{
        width: 68%;
    }
    @include desktop-768{
        margin: 0 auto;
        width: 100%;
    }
    @include mobile{
        ul{
         label{
            width: 25%;
         }
        }
    }
}

.address-list {
    width: 80%;

    li {
        width: 100%;

        label {
            width: 100%;
        }

        input {
            width: 80%;
        }
    }
    @include mobile{
        width: 75%;
        li{
            input{
                width: 94%;
            }
        }
    }
}
.address-col {
    width: 50%;
    display: flex;
    select{
        width: 50%;
    }
}
.address-checkbox {
    .address-checkbox-label {
        width: 100%;

        label {
            width: 100%;
            display: flex;
            align-items: center;

            p {
                padding: 0 5px;
            }

            input {
                width: 5%;
                height: 20px;
            }

        }
    }
}
.check-input{
    label{
        width: 100%;
        button{
            width: 35%;
            height: 38px;
            outline: none;
            border:1px solid #916000 ;
            border-radius: 5px;
            background-color:#916000 ;
            color: white;
            margin-left: 5px;
            &:hover{
                background-color: rgb(216, 216, 216);
                color:#916000;
            }
        }
    }
}
.input-account {
    input {
        outline: none;
        border: none;
        color: gray;
    }
}
.change-password{
    list-style: none;
    .password-list{
        width: 100%;
        h2 {
            font-size: 16px;
            padding-top: 27px;
            padding-bottom: 10px;
            border-bottom: 1px solid #000;
            margin-bottom: 27px;
        }
            li{ 
                width: 100%;
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                label{
                   color: #818A91; 
                   display: block;
                   width: 15%;          
                }
                 input{
                        width: 61%;
                        padding: 5px 5px;
                        display: block;
                    }
            }
     @include mobile{
        li{
            input{
                width: 70%;
            }
            label{
                width: 25%;
            }
        }
     }  
            
    }
}
.password-button{
    button{
        width: 28%;
        height: 38px;
        outline: none;
        border:1px solid #916000 ;
        border-radius: 5px;
        background-color:#916000 ;
        color: white;
        &:hover{
            background-color: rgb(216, 216, 216);
            color:#916000;
        }
    }
}
.member-total-data{
    width: 25%;
    color: #8D8D8D;
    p{
        display: block;
    }
    ul{
        li{
            width: 100%;
            display: flex;
            margin-bottom: 16px;
            h2{
                width: 50%;
            }
        }
    }
    @include desktop-below{
        width: 31.33%;
    }
    @include desktop-768{
        width: 80%;
        margin: 0 auto;
        text-align: center;
        ul{
            li{
                h2{
                    width: 50%;
                    text-align: center;
                }
                p{
                    width: 50%;
                }
            }
        }
    }
    @include mobile{
        width: 100%;
        ul{
            li{
                h2{
                    text-align: left;
                    width: 20%;
                }
                p{
                    width: 60%;
                    text-align: left;
                }
            }
        }
    }
}
.member-total-data-h2{
    width: 35%;
    padding-top: 27px;
    i{
        color: #000;
    }
    @include desktop-768{
        width: 100%;
        justify-content: center;
    }
    @include mobile{
        justify-content: start;
    }
}
.member-profile-reverse{
    display: flex;
    width: 80%;
}
.member-total-data-h2{
    width: 100%;
    display: flex;
    padding-bottom: 28px;
}
.Invitation-code{
    flex-wrap: wrap;
    span{
        width: 100%;
        font-weight: lighter;
        font-size: 5px;
        @include mobile{
            text-align: left;
        }
    }
}
/*---- member-page End ----*/